.header {
  background-color: #282c34;
  color: #61dafb;
  text-align: center;
  height: 15vh;
  font-weight: bold;
}

.header > h1 {
  font-size: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
